{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=90210&u=c","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Beverly Hills, CA</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html</link>\n<description>Yahoo! Weather for Beverly Hills, CA</description>\n<language>en-us</language>\n<lastBuildDate>Tue, 06 May 2014 4:51 am PDT</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Beverly Hills\" region=\"CA\"   country=\"US\"/>\n<yweather:units temperature=\"C\" distance=\"km\" pressure=\"mb\" speed=\"km/h\"/>\n<yweather:wind chill=\"14\"   direction=\"40\"   speed=\"4.83\" />\n<yweather:atmosphere humidity=\"69\"  visibility=\"16.09\"  pressure=\"1010.8\"  rising=\"0\" />\n<yweather:astronomy sunrise=\"5:59 am\"   sunset=\"7:40 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Beverly Hills, CA at 4:51 am PDT</title>\n<geo:lat>34.08</geo:lat>\n<geo:long>-118.4</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html</link>\n<pubDate>Tue, 06 May 2014 4:51 am PDT</pubDate>\n<yweather:condition  text=\"Partly Cloudy\"  code=\"29\"  temp=\"14\"  date=\"Tue, 06 May 2014 4:51 am PDT\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/29.gif\"/><br />\n<b>Current Conditions:</b><br />\nPartly Cloudy, 14 C<BR />\n<BR /><b>Forecast:</b><BR />\nTue - Partly Cloudy. High: 21 Low: 12<br />\nWed - Sunny. High: 22 Low: 12<br />\nThu - AM Clouds/PM Sun. High: 21 Low: 13<br />\nFri - Sunny. High: 24 Low: 14<br />\nSat - Sunny. High: 26 Low: 16<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Tue\" date=\"6 May 2014\" low=\"12\" high=\"21\" text=\"Partly Cloudy\" code=\"30\" />\n<yweather:forecast day=\"Wed\" date=\"7 May 2014\" low=\"12\" high=\"22\" text=\"Sunny\" code=\"32\" />\n<yweather:forecast day=\"Thu\" date=\"8 May 2014\" low=\"13\" high=\"21\" text=\"AM Clouds/PM Sun\" code=\"30\" />\n<yweather:forecast day=\"Fri\" date=\"9 May 2014\" low=\"14\" high=\"24\" text=\"Sunny\" code=\"32\" />\n<yweather:forecast day=\"Sat\" date=\"10 May 2014\" low=\"16\" high=\"26\" text=\"Sunny\" code=\"32\" />\n<guid isPermaLink=\"false\">USCA0090_2014_05_10_7_00_PDT</guid>\n</item>\n</channel>\n</rss>\n\n<!-- fan1581.sports.bf1.yahoo.com Tue May  6 12:42:01 PST 2014 -->\n"},"http_version":null},"recorded_at":"Tue, 06 May 2014 12:42:01 GMT"}],"recorded_with":"VCR 2.9.0"}